@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body{
  background-color: #EFDECD
}

.eye-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 5px;
}

.eye {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  overflow: hidden; /* Keep the pupil inside the eye */
}

.pupil {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 50%; /* Center the pupil */
  top: 50%; /* Center the pupil */
  transform-origin: center; /* Pupil rotation around its center */
}


.tie{
  -webkit-clip-path: polygon(51% 43%, 100% 25%, 100% 75%, 50% 52%, 0% 75%, 0% 25%);
  clip-path: polygon(51% 43%, 100% 25%, 100% 75%, 50% 52%, 0% 75%, 0% 25%);
}

.mouth{
  -webkit-clip-path: polygon(1% 46%, 13% 38%, 23% 33%, 33% 31%, 42% 33%, 49% 35%, 57% 32%, 65% 30%, 75% 32%, 83% 35%, 92% 40%, 100% 46%, 88% 58%, 73% 66%, 52% 71%, 30% 68%, 14% 60%);
  clip-path: polygon(1% 46%, 13% 38%, 23% 33%, 33% 31%, 42% 33%, 49% 35%, 57% 32%, 65% 30%, 75% 32%, 83% 35%, 92% 40%, 100% 46%, 88% 58%, 73% 66%, 52% 71%, 30% 68%, 14% 60%);
}

.look-left{
  transform: scaleX(-1);
}

*{
  outline: none;
}

.text-shadow{
  text-shadow: 0px 0px 2px black;
}

.chat-container{
  max-height: calc(100vh - 98px)
}